@import "reset.css"; /*import reset.css here*/
@import "normalize.css";/*same wit normalize*/

body{ /*change color and  backgroundof body to this*/
	background-image: url("../images/testu.png");
	text-align: center;
}

.wrap{ /*make stuff with the class wrap 400px wide and no margin*/
	width:400px;
	margin: 0 auto;
}	

.task-list{ /*other stylizing*/
	width:88%;
	min-height: 420px;
	background: #fff;
	box-shadow: 2px 2px 0px #ddd;
	margin-top: 40px;
	padding: 22px 6%;
	
}
.nav-thing{
	text-align: center;
	font-size: 40px;
	margin-top: 3%;
}
a{
	text-decoration: none;
	margin-bottom: 50px;
	color: black;
}
a:hover{
	font-size: 44px; 
}
li{
	margin-top: 5px;
}
#login-text{
	font-size: 45px;
}
#username-text{
	font-size: 25px;
}
#password-text{
	font-size: 25px;
	margin-left: 1px;
}
#password-box{
	margin-left: 5px;
}
#item-box{
	margin-top: 3%;
	width: 53%;
	margin-right: 10%;
	text-align: center;
	font-size: 22px;
}
#task-box{
	text-align: left;
	font-size: 20px;
	padding-left: 8%;
	box-sizing:border-box;
}
.delete-button{
	margin-left: 2px;
}
#login-button{
	margin-top: 5px;
}


@media screen and (max-width:375px) {
	body{
		text-align: center;
		font-size:40px;
	}
	.nav-thing{
		padding:13%;
	}
	a{
		text-decoration: none;
	}
	#username-box{
		width:85%;
	}
	#username-div{
		margin-bottom: 10%;
	}
	#password-box{
		width:85%;
		margin-top: 2%;
	}
	h1{
		font-size: 70px;
	}
	#login-button{
		margin-top: 5%;
	}
	#task-box{
		width: 70%;
		margin-left: 12%;
		text-align: left;
		font-size: 29px;
	}
	#item-box{
		width:55%;
		margin-right: 7%;
		margin-top: 5%;
	}

}